body{
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(186, 226, 196);
}

header{
    background-color: rgb(237, 242, 239);
    padding: lem 0;
}
header h1{
    color: black;
    font-size: 2.5em;
    font-style: italic;
    font-weight:bold;
    display: inline-block;
    position:relative;
    bottom: 2px;
}
nav{
    background-color: rgba(8, 126, 20, 0.95);
    margin-bottom: 2em;
}
nav ul{
    list-style: none ;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    width:16.3%;
}
nav ul li a{ 
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding:0.2em 0.4em;

}
nav ul li a:hover{
    background-color: rgb(135, 155, 142);
}
footer{
    background-color: aliceblue;
    clear: both;
    color: rgb(59, 56, 56);
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}
nav ul li a.activo{
    background-color: rgb(74, 73, 72);
}
.holder{
    width: 960px; 
    margin: 0 auto;
}